.bi {
  display: inline-block;
  content: "";
  //background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  min-height: 1rem;
  min-width: 1rem;

  &.bi-clock {background-image: url("/node_modules/bootstrap-icons/icons/clock.svg");}
  &.bi-check {background-image: url("/node_modules/bootstrap-icons/icons/check.svg");}
  &.bi-check-square {background-image: url("/node_modules/bootstrap-icons/icons/check-square.svg");}
  &.bi-square {background-image: url("/node_modules/bootstrap-icons/icons/square.svg");}
  &.bi-pencil {background-image: url("/node_modules/bootstrap-icons/icons/pencil.svg");}
  &.bi-calendar-check {background-image: url("/node_modules/bootstrap-icons/icons/calendar-check.svg");}
  &.bi-gear {background-image: url("/node_modules/bootstrap-icons/icons/gear.svg");}
  &.bi-people {background-image: url("/node_modules/bootstrap-icons/icons/people.svg");}
  &.bi-clock-history {background-image: url("/node_modules/bootstrap-icons/icons/clock-history.svg");}
  &.bi-shop-window {background-image: url("/node_modules/bootstrap-icons/icons/shop-window.svg");}
  &.bi-shield-fill {background-image: url("/node_modules/bootstrap-icons/icons/shield-fill.svg");}
  &.bi-shield-shaded {background-image: url("/node_modules/bootstrap-icons/icons/shield-shaded.svg");}
  &.bi-exclamation-triangle {background-image: url("/node_modules/bootstrap-icons/icons/exclamation-triangle.svg");}
  &.bi-person {background-image: url("/node_modules/bootstrap-icons/icons/person.svg");}
  &.bi-person-check {background-image: url("/node_modules/bootstrap-icons/icons/person-check.svg");}
}
